serviceconfig/src/main/resources/servicelist-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="duracloud" targetNamespace="duracloud">

  <xs:include schemaLocation="service-config.xsd"/>

  <!-- top-level listing of services -->
  <xs:element name="services">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="service" minOccurs="0" maxOccurs="unbounded" type="serviceType"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" fixed="0.2" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
